{% extends ajax ? '::ajax.base.html.twig' : '::base.html.twig' %}

{% block body %}
<div class="ajax-content">
    <div class="messages">
        {% for messages in session.getFlashBag().all() %}
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    </div>
    <form class="std-form" action="{{ path('vertical_tab_ajax_test_save') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" />
    </form>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/vendor/jquery.blockUI.js') }}"></script>
<script type="text/javascript">
    //sample js for demonstration purposes.
    $(document).ready(function() {
        function showMessages() {
            $('.messages').fadeIn('slow').delay(2000).fadeOut('slow');
        };
        
        $('form').live('submit', function() {
            $.blockUI();
            var url = $(this).attr('action');
            
            $.ajax({
                url: url,
                type: 'post',
                data: $(this).serialize(),
                success: function(data) {
                    if (typeof(data) === 'string') {
                        $('.ajax-content').html(data);
                    } else {
                        //you might use some lib/plugin here instead
                        $('#form_id').val(data['id']);
                        $('#form_firstName').val(data['firstName']);
                        $('#form_lastName').val(data['lastName']);
                        $('#form_phone').val(data['phone']);
                        $('#form_street').val(data['street']);
                        $('#form_city').val(data['city']);
                        $('#form_state').val(data['state']);
                    }
                    
                    $.unblockUI();
                    showMessages();
                }
            });
            
            return false;
        });
    });
</script>
{% endblock %}
